[build]
builder = "dockerfile"
dockerfilePath = "postgres-patroni/Dockerfile"
watchPatterns = ["postgres-patroni/**"]

[deploy]
restartPolicyType = "always"
restartPolicyMaxRetries = 10
numReplicas = 1
